script(type = 'text/javascript', src='socket.io/socket.io.js' )
script(type = 'text/javascript', src="javascripts/debug.js" )
script(type = 'text/javascript', src="javascripts/jquery/jquery.js" )
h1= title
p Welcome to #{title}
#buttfuck
	p Debug section
