script(type = 'text/javascript', src="javascripts/jquery/jquery.js" )
script(type = 'text/javascript', src='socket.io/socket.io.js' )
script(type = "text/javascript", src="javascripts/client.js" )
script(type= 'text/javascript', src='javascripts/v4debug.js' )

h1= title
p Welcome to #{title}
button#join Join Game
#debug
#status
#activeNumber
#content
