script(type = "text/javascript", src="javascripts/alice/alice.js" )
script(type = "text/javascript", src="javascripts/alice/alice.core.js" )
script(type = "text/javascript", src="javascripts/alice/alice.plugins.cheshire.js" )
script(type="text/javascript", src="javascripts/jquery/jquery.js")
script(type="text/javascript", src="javascripts/gameQuery/gameQuery.js")
script(type="text/javascript", src="socket.io/socket.io.js" )
script(type="text/javascript", src="javascripts/shop/tooltip.js")
script(type="text/javascript", src="javascripts/clientv2.js" )
script(type="text/javascript", src="javascripts/shop/conf.js")
script(type="text/javascript", src="javascripts/shop/generator.js")
script(type="text/javascript", src="javascripts/shop/shop.js")
script(type="text/javascript", src="javascripts/form/form.js")
script(type="text/javascript", src="javascripts/shop/game-drive.js")
script(type="text/javascript", src="javascripts/shop/flotile.js")
script(type="text/javascript", src="javascripts/shop/flotile_bridge.js")
script( type="text/javascript", src="javascripts/enchant/enchant.js")
script( type="text/javascript", src="javascripts/rpg/pad.js")
script( type="text/javascript", src="javascripts/rpg/game.js")
script( type="text/javascript", src="javascripts/rpg/enchantshop.js")
script( type="text/javascript", src="javascripts/rpg/conf.js")
link(href="/stylesheets/extensions.css", media="screen", rel="stylesheet", type="text/css")
style( type="text/css" )
	body {
		margin: 0;
	}

