script(type = "text/javascript", src="javascripts/jquery/jquery.js" )
script(type = 'text/javascript', src='socket.io/socket.io.js' )
script(type = "text/javascript", src="javascripts/gameQuery/gameQuery.js" )
script(type = "text/javascript", src="javascripts/client.js" )
script(type = "text/javascript", src="javascripts/form.js" )
link(rel = "stylesheet", href="stylesheets/extensions.css" ) 
script(type = "text/javascript")
	$(document).ready( function(){
		$("#setupshop").click( function(){ 
			CallShop();
		} );
	} );
h1= title
p Welcome to #{title}
#debug
button#setupshop Open Shop
