script(type = "text/javascript", src="javascripts/jquery/jquery.js" )
script(type = "text/javascript", src="javascripts/shop-debug.js" )
script(type = "text/javascript")
	var myshoptest = new IndigioShop();
	$(document).ready( function(){ 
		myshoptest.initialize( { 
			'divid': "debug"
		} );
		$("#setupshop").click( function(){ 
			myshoptest.SetupShop( array( { 
				'description': "henry is a faggot",
				'tileset': "images/tiles/0.png"
			} ) );
		} );
	} );

h1= title
p Welcome to #{title}
#debug
button#setupshop Open Shop
